# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vite
dist/
dist-ssr/
*.local

# React build outputs
build/
out/

# IntelliJ / WebStorm (JetBrains IDE)
.idea/
*.iml

# VSCode
.vscode/
!.vscode/extensions.json

# macOS / OS-specific
.DS_Store

# Windows
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env*
